<ion-header class="">
  <ion-toolbar class="bg-degradado-multiple p-4" color="bg-degradado-multiple">
    <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">

      <!-- IZQUIERDA: Logo + navegación -->
      <div style="display: flex; align-items: center; flex-wrap: wrap;" class="text-blanco">
        <h2>🎀</h2>
        <h6 class="ms-3 me-3 mb-0 text-white text-blanco"> Isabel Carrasco Gallego CV</h6>

        <ion-button fill="clear" (click)="goToProyectosWeb()" class="text-white">Webs</ion-button>
        <ion-button fill="clear" (click)="goToProyectosApp()" class="text-white">Aplicaciones</ion-button>
        <ion-button fill="clear" (click)="goToProyectosMultiplataforma()"
          class="text-white">Multiplataforma</ion-button>

      </div>

      <!-- DERECHA: Botón -->
      <div style="display: flex; align-items: center; flex-wrap: wrap;">
        <ion-button id="linkedin-alert" fill="outline" class="bg-blanco" (click)="goToLinkedIn()">Accede a mi
          LinkedIn</ion-button>

      </div>

    </div>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="bg-rosaclaro">
  <div class="contenedor-principal ">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12">
          <img src="../../assets/img/FotoCV.jpg" alt="" width="80%" class="rounded-circle ms-5">
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12">
          <h2 class="text-cereza text-center"> SOBRE MÍ:</h2>
          <p class="pt-2 text-azul">Soy Desarrolladora de Aplicaciones multiplataforma y Web. Con sólida base en
            programación
            orientada a objetos, bases de datos y estructuras de software. Me apasiona aprender y crecer continuamente,
            tanto en el ámbito técnico como personal. <br> Me destaco por mi enfoque autodidacta, mi constancia y mi
            capacidad para enfrentar desafíos con curiosidad, coraje y perseverancia. <br></p>
          <p class="pt-2 text-azul">
            Tengo experiencia desarrollando aplicaciones con C#, Java, .NET MAUI, WPF, Ionic y Angular. Implementando
            patrones como MVVM, MVC y arquitecturas limpias. He trabajado con bases de datos utilizando tanto SQL como
            NoSQL (Firebase) y he desarrollado soluciones funcionales optimizando código y lógica.
          </p>
          <p class="pt-2 text-azul">Actualmente estoy formándome en estadística aplicada a Big Data e Inteligencia
            Artificial.
            Busco formar parte de proyectos donde pueda aportar mi energía, seguir aprendiendo y evolucionar como
            desarrolladora. Mi meta es crear soluciones tecnológicas que mejoren la vida de las personas, con una
            perspectiva humana, inteligente y creativa. </p>

          <h2 class="text-cereza text-center pt-4"> INFORMACIÓN DE CONTACTO: </h2>
          <p class="pt-2 text-azul">
            <strong>📧 Email:</strong>
            <a href="mailto:isabelcarrascogallego@gmail.com" class="link-sin-subrayado">
              isabelcarrascogallego&#64;gmail.com
            </a>
          </p>

          <p class="pt-2 text-azul">
            <img src="../../assets/img/telephone_1077910.png" alt="" width="30px" height="30px" class="me-2">
            <strong>Teléfono:</strong>
            <a href="tel:+34608456593" class="link-sin-subrayado"> 608456593</a>
          </p>

          <p class="pt-2 text-azul">
            <img src="../../assets/img/whatsapp_174879.png" alt="" width="30px" height="30px" class="me-2">
            <strong>WhatsApp:</strong>
            <a href="https://wa.me/34608456593" target="_blank" rel="noopener" class="link-sin-subrayado">
              Enviar mensaje por WhatsApp
            </a>
          </p>

          <p class="pt-2 text-azul">
            <img src="../../assets/img/github_1051326.png" alt="" width="30px" height="30px" class="me-2">
            <strong>GitHub:</strong>
            <a href="https://github.com/IsabelBaddie" class="link-sin-subrayado" target="_blank"
              rel="noopener noreferrer">
              Accede a mi GitHub
            </a>
          </p>

          <p><a href="https://www.freepik.es/icono/">Iconos de Freepik</a></p>

          <h2 class="text-cereza text-center pt-4 pb-3"> TECNOLOGÍAS CONOCIDAS: </h2>
          <ion-list class="pt-5 ">
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Programación web: </h5>
              <ion-label class="ps-2 text-rosamedio"> Java (JSTL, JPA), TypeScript. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Frameworks: </h5>
              <ion-label class="ps-2 text-rosamedio" > Angular, Ionic, .NET MAUI. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Diseño web: </h5>
              <ion-label class="ps-2 text-rosamedio"> HTML, CSS, Bootstrap. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Intercambio de datos: </h5>
              <ion-label class="ps-2 text-rosamedio"> JSON, XML. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Programación móvil: </h5>
              <ion-label class="ps-2 text-rosamedio"> Kotlin (Jetpack Compose), Swift, .NET MAUI. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Diseño de interfaces: </h5>
              <ion-label class="ps-2 text-rosamedio"> C# </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Bases de datos: </h5>
              <ion-label class="ps-2 text-rosamedio"> SQL, PL/SQL, Oracle. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Bases de datos: </h5>
              <ion-label class="ps-2 text-rosamedio"> SQL, PL/SQL, Oracle, Firestore. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Entornos de desarrollo: </h5>
              <ion-label class="ps-2 text-rosamedio">Android Studio, Visual Studio, Eclipse, NetBeans. </ion-label>
            </ion-item>
            <ion-item class="bg-cerezamedio">
              <h5 class="text-white">Herramientas: </h5>
              <ion-label class="ps-2 text-rosamedio">Git, GitHub, Firebase.</ion-label>
            </ion-item>


          </ion-list>

        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="bg-degradado-multiple" class="bg-degradado-multiple">
    <ion-title class="text-white text-center">Isabel Carrasco Gallego ©</ion-title>
  </ion-toolbar>
</ion-footer>