/*#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}*/

:root {
  --rosa-medio: #f4a3c8;
  --rosa-oscuro: #b46494;
  --negro: #2d182d;
  --cereza-medio: #c42454; 
  --cereza-oscuro: #8c2c44; 
  --azul: #294459; 
  --blanco: #ffffff; 
}

.bg-rosamedio {
  background-color: var(--rosa-medio);
}

.bg-rosaoscuro {
  background-color: var(--rosa-oscuro);
}

.bg-cerezamedio {
  background-color: var(--cereza-medio);
}

.bg-cerezaoscuro {
  background-color: var(--cereza-oscuro);
}

.text-rosamedio {
  color: var(--rosa-medio);
}

.text-negro {
  color: var(--negro);
}

.text-azul {
  color: var(--azul);
}

.text-blanco {
  color: var(--blanco);
}
.bg-degradado-multiple {
  background: linear-gradient(to right, #b46494, #d17eb0, #f4a3c8);
}

ion-button.bg-blanco {
  --color: white; // color del texto
  --border-color: var(--blanco);
}

