/*#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}*/

:root {
  --rosa-claro: #f5c4da;
  --rosa-medio: #f4a3c8;
  --rosa-oscuro: #b46494;
  --negro: #2d182d;
  --cereza-medio: #c42454; 
  --cereza-oscuro: #8c2c44; 
  --azul: #294459; 
  --blanco: #ffffff; 
}

.bg-rosaclaro {
  background-color: var(--rosa-claro);
  
}

.bg-rosamedio {
  background-color: var(--rosa-medio);
}

.bg-rosaoscuro {
  background-color: var(--rosa-oscuro);
}

.bg-cerezamedio {
  background-color: var(--cereza-medio);
}

.bg-cerezaoscuro {
  background-color: var(--cereza-oscuro);
}

.text-rosamedio {
  color: var(--rosa-medio);
}

.text-negro {
  color: var(--negro);
}

.text-azul {
  color: var(--azul);
}

.text-cereza {
  color: var(--cereza-oscuro) !important;
}

.text-blanco {
  color: var(--blanco);
}

.text-rosaclaro {
  color: var(--rosa-claro);
}

.bg-degradado-multiple {
  background: linear-gradient(to right, #b46494, #d17eb0, #f4a3c8);
}

ion-button.bg-blanco {
  --color: white; // color del texto
  --border-color: var(--blanco);
}

.contenedor-principal {
  padding: 40px 20px; /* Arriba/abajo 40px, lados 20px */
}

ion-content.bg-rosaclaro {
  --background: var(--rosa-claro); 
}

.link-sin-subrayado {
  text-decoration: none;
  color: var(--azul);
  transition: color 0.3s ease;
}

.link-sin-subrayado:hover {
  color: var(--cereza-medio); /* o el color que prefieras */
}

ion-item.bg-cerezamedio::part(native) {
  background-color: #c42454;
}

ion-list {
  margin: 0 !important;
  padding: 0 !important;
}
